<nav class="navbar">
  <div class="navbar-left">
    <a href="/">
      <img src="/img/logo.png" alt="Logo" class="navbar-logo" />
    </a>
    <ul class="navbar-menu">
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
<link rel="stylesheet" href="/css/navbar.css" />
