.container {
  max-width: 85%;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

ul.film-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(180px, 1fr)
  ); /* Réduction de la taille minimale pour plus de flexibilité */
  gap: 30px; /* Espacement légèrement réduit */
}

.film-item {
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  overflow: hidden; /* Pour masquer ce qui dépasse (comme les coins arrondis) */
  box-shadow: var(--box-shadow); /* Ombre légère pour le relief */
  transition: var(--transition);
}

.film-item img {
  width: 100%;
  height: 250px; /* Réduction de la hauteur pour éviter le zoom excessif */
  object-fit: cover; /* Garde les proportions, recadre si nécessaire */
  border-radius: var(--border-radius) var(--border-radius) 0 0; /* Optionnel : arrondir les coins supérieurs */
}

.film-info {
  padding: 10px 15px;
}

.film-info strong {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.film-info small {
  color: var(--dark-gray);
  display: block;
  margin-bottom: 5px;
}

.film-info p {
  margin: 4px 0;
  font-size: 0.95rem;
}

.film-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}
