.hero {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 60px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

.categories-grid {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
