.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: white;
  box-shadow: var(--box-shadow);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 60px;
  margin-right: 20px;
  transition: var(--transition);
}

.navbar-logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 4px var(--secondary-color));
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: var(--transition);
}

.navbar-menu li a:hover {
  color: var(--secondary-color);
}

.navbar-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
