<link rel="stylesheet" href="/css/categories.css" />

<div class="container">
  <h1><%= title %></h1>
  <a href="/categories/new" class="button-link">➕ Add a category</a>

  <ul class="category-list">
    <% categories.forEach(cat => { %>
    <li class="category-item"><%= cat.name %></li>
    <% }) %>
  </ul>
</div>
