<link
  href="https://cdn.jsdelivr.net/npm/slim-select@2.7.0/dist/slimselect.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/slim-select@2.7.0/dist/slimselect.min.js"></script>
<link rel="stylesheet" href="/css/films.css" />
<link rel="stylesheet" href="/css/filmsNew.css" />

<div class="container">
  <h1><%= title %></h1>

  <% if (errors.length > 0) { %>
  <ul style="color: red">
    <% errors.forEach(e => { %>
    <li><%= e.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <form action="/films/new" method="POST">
    <input type="text" name="title" placeholder="Title" />
    <textarea name="description" placeholder="Description"></textarea>
    <input type="number" name="release_year" placeholder="Release year" />
    <input type="text" name="director" placeholder="Director" />
    <input type="number" step="0.01" name="price" placeholder="Price" />
    <input type="number" name="stock" placeholder="Stock" />
    <input type="text" name="cover_url" placeholder="Cover URL" />

    <label for="genres">Genres:</label>
    <select id="genres" name="genres" multiple>
      <% genres.forEach(g => { %>
      <option value="<%= g.id %>"><%= g.name %></option>
      <% }) %>
    </select>

    <button type="submit">Add film</button>
  </form>
</div>

<script>
  new SlimSelect({
    select: "#genres",
  });
</script>
